* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore

# Language Detection Overrides
/public/css/* linguist-vendored
/public/js/* linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
